.image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: rem(2);
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.textBlock {
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: rem(2);
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: rem(42);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32);
  }
}

.description {
  max-width: rem(540);
  margin: var(--mantine-spacing-xl) 0 calc(var(--mantine-spacing-xl)) 0;
}
