.footer {
  margin-top: 2rem;
  min-height: rem(50px);
  padding: var(--mantine-spacing-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
